@import 'normalize';
@import '_variables';
@import '_grid';

pre{
  @include pre-wrap();
}

.greyboxes{
  div{
    background: #aaa;
  }
}

.pinkboxes{
  div{
    background: #eaa;
  }
}

.row{
  .col{
    margin-bottom: 1em;
  }
}

.horizontal-menu{
  @include inline-block-justified;
  margin-left: 0;
  padding-left: 0;
}

.wrapper{
  width: 960px;
  margin: 0 auto;
  @media screen and (max-width: $desktop-width){
    width: 50em;
  }
  @media screen and (max-width: $tablet-width){
    width: 90%;
  }
}

aside{
  font-size: .75em;
}

.mono{
  font-family: monospace, monospace;
}