@import 'normalize';
@import '_variables';
@import '_grid';

.greyboxes{
  div{
    background: #aaa;
  }
}

.pinkboxes{
  div{
    background: #eaa;
  }
}

.row{
  .col{
    margin-bottom: 1em;
  }
}

.horizontal-menu{
  @include inline-block-justified;
  margin-left: 0;
  padding-left: 0;
}

.wrapper{
  width: 960px;
  margin: 0 auto;
}

aside{
  font-size: .75em;
}

.mono{
  font-family: monospace, monospace;
}